@media only screen and (max-width:992px){.dn-992{display:none}
header.header-nav.menu_style_home_five .ace-responsive-menu>li>a{padding:25px 15px 18px 5px}
.stylehome1:before{position:absolute;content:"";background-color:#262626;bottom:0;height:95px;right:0;top:0;width:100%}
.stylehome1.home3:before{background-color:transparent!important;border-bottom:1px solid #8f78cb}
.stylehome1.home4:before,
.stylehome1.home5:before{background-color:transparent!important}
.stylehome1.home6:before{background-color:#fff!important}
.stylehome1.home3 .mm-navbar,
.stylehome1.home3 .mm-panel{background-color:#1c327e!important}
}
@media only screen and (max-width:991px){.mt50{margin-top:45px}
.mt65{margin-top:45px}
.mbt15{margin-top:15px!important}
.mbt45{margin-top:45px!important}
.job_single_v5_banner{display:none}
.brdr_left_right:before{display:none}
.brdr_left_right:after{display:none}
header.header-nav.menu_style_home_four .ace-responsive-menu>li>a{padding:18px 5px 18px 15px}
.home-job-search-box .search_option_one .form-control,
.home-job-search-box .search_option_two .form-control{width:85%}
.home-job-search-box .search_option_one{width:40%}
.home-job-search-box .search_option_two{width:38%}
.icon_box_hiw .icon.middle:before{display:none}

}
@media only screen and (max-width:767.98px){.home-job-search-box .search_option_one .form-group{border-radius:4px}
.home-job-search-box .search_option_one .form-group,
.home-job-search-box .search_option_two .form-group{border-radius:4px}
.home-job-search-box .search_option_button .btn{border-radius:4px}
.sticky_heading{display:none}
.tal-xsd{text-align:left}
.tac-xsd{text-align:center!important}
.dn-xsd{display:none}
.fn-xsd{float:none!important}
.fr-xsd{float:right!important}
.mrgn620-xsd{margin-bottom:20px}
.mb305-xsd{margin-bottom:35px!important}
.pad12650{padding:50px 0!important}
section{padding:30px 0!important}
.home-one .home-content{margin:80px 0}
.home-six .home-content{margin:80px 0}
.home-job-search-box .search_option_button,
.home-job-search-box .search_option_button .btn,
.home-job-search-box .search_option_one,
.home-job-search-box .search_option_two{width:100%}
.home-job-search-box .search_option_one,
.home-job-search-box .search_option_two{margin-bottom:15px}

.candidate_personal_info.style2.job_singe_v5 .details p{color:#7f7f7f}
.fj_post.home3{padding:30px 15px}
.testimonial_content{margin:70px 50px}
.t_icon.home3{left:70px}
.candidate_personal_info.style3 .details h3{margin-top:-20px}
.candidate_personal_info.style3 .details p{margin-bottom:0}
.candidate_personal_info.style3 .details .review_list{text-align:center;margin-left:75px}
.carrer_tips_home5{margin-bottom:20px}
.home-job-search-box.home5 .search_option_one,
.home-job-search-box.home5 .search_option_three,
.home-job-search-box.home5 .search_option_two{width:100%}
}
@media only screen and (max-width:575.98px){.mt20-xxsd{margin-top:20px}
.footer_social_widget{margin-top:0!important}
.home-job-search-box .search_option_one .form-group label,
.home-job-search-box .search_option_two .form-group label{float:left;line-height:60px}
.home-job-search-box .search_option_one .form-control,
.home-job-search-box .search_option_two .form-control{height:60px}
.home-job-search-box{margin:0;margin-bottom:15px}
.home-job-search-box .search_option_button .btn{height:60px}
