@import url(../css/jquery-ui.min.css);@import url(../css/font-awesome.min.css);@import url(../css/font-awesome-animation.min.css);@import url(../css/simplebar.min.css);@import url(../css/slider.css);@import url(../css/fancyBox.css);@import url(../css/owl.css);@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,800&amp;subset=vietnamese);html{font-size:100%}
body{background-attachment:fixed;background-color:#fff;color:#6d6d6d;font-family:Nunito,sans-serif;font-size:16px;line-height:1.642;overflow-x:hidden;transition:inherit;-webkit-font-smoothing:antialiased}
img{max-width:100%}
p{font-size:16px;font-weight:400}
ol,ul{list-style:none;margin:0;padding:0}
iframe{border:none;width:100%}
a{color:#555;text-decoration:none;-webkit-font-smoothing:antialiased;-webkit-transition:all .3s linear 0s;-moz-transition:all .3s ease-in 0s;-ms-transition:all .3s ease-in 0s;-o-transition:all .3s ease-in 0s;transition:all .3s ease-in 0s}
a:focus,a:hover{color:#5082f0;text-decoration:none;outline:0}
a img{border:none}
.page-link:focus{box-shadow:none}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:Nunito,sans-serif;line-height:1.42857;color:#262626}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-weight:400;line-height:1;color:#262626;font-weight:400}
.h1 a,.h2 a,.h3 a,.h4 a,.h5 a,.h6 a,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#262626;font-weight:400}
.h2,.h3,.h4,h1,h2,h3,h4 .h1{font-weight:700}
.h5,.h6,h5,h6{font-weight:400}
address,blockquote,dd,dl,dt,ol,p,ul{margin:0 0 10px}
.ff-roboto{font-family:Roboto,sans-serif}
.mm-navbar{color:#fff}
.home-one:before{bottom:0;content:"";position:absolute;left:0;top:0;width:100%;background-image:-ms-linear-gradient(to right,rgba(46, 47, 46,1) 40%, rgba(46, 47, 46,.95) 60%, rgba(46, 47, 46, 0.7) 90%, rgba(46, 47, 46, 0.5) 100%);background-image:-moz-linear-gradient(to right,rgba(46, 47, 46,1) 40%, rgba(46, 47, 46,.95) 60%, rgba(46, 47, 46, 0.7) 90%, rgba(46, 47, 46, 0.5) 100%);background-image:-o-linear-gradient(to right,rgba(46, 47, 46,1) 40%, rgba(46, 47, 46,.95) 60%, rgba(46, 47, 46, 0.7) 90%, rgba(46, 47, 46, 0.5) 100%);background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,255,255, .01)), color-stop(100, rgba(241,244,249, 1)));background-image:-webkit-linear-gradient(to right,rgba(46, 47, 46,1) 40%, rgba(46, 47, 46,.95) 60%, rgba(46, 47, 46, 0.7) 90%, rgba(46, 47, 46, 0.5) 100%);background-image:linear-gradient(to right,rgba(46, 47, 46,1) 40%, rgba(46, 47, 46,.95) 60%, rgba(46, 47, 46, 0.7) 90%, rgba(46, 47, 46, 0.5) 100%);}
.home-one.style2 .home-text h2{color:#221f1f}
.home-one.style2 .home-text p{color:#ffffff;background:#00000052;}
.home-one.style2 .home-job-search-box .search_option_one .form-group,.home-one.style2 .home-job-search-box .search_option_one .form-group .form-control,.home-one.style2 .home-job-search-box .search_option_two .form-group,.home-one.style2 .home-job-search-box .search_option_two .form-group .form-control{background-color:#fafafa}
.home-content{position:relative;}
.home-text h1,.home-text h2{color:#fff;margin-top:0;font-weight:600}
.home-job-search-box .search_option_one .form-group{border-right:1px solid #e8e8e8;border-radius:4px 0 0 4px}
.home-job-search-box .search_option_one .form-group,.home-job-search-box .search_option_two .form-group{background-color:#fff;border-left:none;padding-left:25px}
.home-job-search-box .search_option_one .form-group label,.home-job-search-box .search_option_two .form-group label{font-size:25px;color:#bfbfbf}
.home-job-search-box .search_option_one{width:50%}
.home-job-search-box .search_option_two{width:35%}
.home-job-search-box .search_option_one .form-control,.home-job-search-box .search_option_two .form-control{border:none;box-shadow:none;width:90%;color:#989898}
.home5_mt{background-color:#fff;-webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);-moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);margin-bottom:60px;margin-top:-140px;padding:30px;position:relative;z-index:9}
.home-job-search-box .search_option_button .btn{border:none;border-radius:0 4px 4px 0;width:140px}
.home-job-search-box .search_option_button .btn:hover{background-color:#94d7f1;color:#fff!important}
.home-job-search-box .search_option_button .btnh3{background-color:#1c327e!important}
.home-one.style2:before{background-image:none}
.home_bg2:after{background-repeat:no-repeat;background-position:right;bottom:0;content:"";opacity:.05;position:absolute;right:-115px;top:0;width:100%}
.home-one.style2 .home-content{z-index:999}
.home-one.style3:before{background-image:-moz-linear-gradient(60deg, rgb(69,104,220) 0%, rgb(176,106,179) 100%);background-image:-webkit-linear-gradient(60deg, rgb(69,104,220) 0%, rgb(176,106,179) 100%);background-image:-ms-linear-gradient(60deg, rgb(69,104,220) 0%, rgb(176,106,179) 100%);background-image:linear-gradient(60deg, rgb(69,104,220) 0%, rgb(176,106,179) 100%);}
.icon_hvr_img_box{-webkit-background-size:cover;display:block;background-size:cover;border-radius:4px;overflow:hidden;padding:30px 0;position:relative;text-align:center;cursor:pointer;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s}
.icon_hvr_img_box:before{background-color:#fafafa;bottom:0;content:"";left:0;position:absolute;right:0;top:0;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s}
.icon_hvr_img_box:hover:before{background-color:rgba(130, 180, 64, .95);box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);}
.icon_hvr_img_box .icon{color:#5082f0;font-size:48px;margin-bottom:15px;position:relative;text-align:center;-webkit-transition:all .4s ease 0s;-moz-transition:all .4s ease 0s;-o-transition:all .4s ease 0s;transition:all .4s ease 0s}
.icon_hvr_img_box .details{position:relative;-webkit-transition:all .4s ease 0s;-moz-transition:all .4s ease 0s;-o-transition:all .4s ease 0s;transition:all .4s ease 0s}
.icon_hvr_img_box .details h5{font-weight:600}
.icon_hvr_img_box:hover .details h5,.icon_hvr_img_box:hover .details p,.icon_hvr_img_box:hover .overlay .icon{color:#fff}
.icon_hvr_img_box:hover{-webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);-moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);}
.pjc_all_btn{margin-top:60px!important}
.pjc_all_btn a.btn{border-radius:4px;line-height:45px;padding:5px 40px;font-size:16px}
.pjc_all_btn.home5 a.btn{border:1px solid #262626;color:#262626}
.pjc_all_btn.home5 a.btn:hover{border:1px solid #00b7ff;color:#fff}
.icon_hvr_img_box.style2{border-bottom:4px solid transparent}
.icon_hvr_img_box.style2:hover{cursor:pointer;border-bottom:4px solid #00b7ff}
.icon_hvr_img_box.style2:hover:before{background-color:#fff}
.icon_hvr_img_box.style2:hover .details h5{color:#221f1f}
.icon_hvr_img_box.style2:hover .details p{color:#7f7f7f}
.icon_hvr_img_box.style2:hover .overlay .icon{color:#00b7ff}
.carrer-tips.home4,.feature-job.home4,.footer_one.home4,.our-partner.home4,.popular-job.home4{border-bottom:1px solid #ededed}
.icon_hvr_img_box.home4{display:block;height:233px;margin-bottom:30px}
.icon_hvr_img_box.home4:before{background-color:rgba(5,4,28,.3)}
.icon_hvr_img_box.home4:hover{cursor:pointer;margin-top:-10px}
.icon_hvr_img_box.home4:hover:before{background-image:-moz-linear-gradient(-120deg, rgba(48,43,132, 85%) 0%, rgba(32,27,113, 100%) 100%);background-image:-webkit-linear-gradient(-120deg, rgba(48,43,132, 85%) 0%, rgba(32,27,113, 100%) 100%);background-image:-ms-linear-gradient(-120deg, rgba(48,43,132, 85%) 0%, rgba(32,27,113, 100%) 100%);background-image:linear-gradient(-120deg, rgba(48,43,132, 85%) 0%, rgba(32,27,113, 100%) 100%);}
.icon_hvr_img_box.home4:hover .overlay .icon{color:#fff;opacity:1}
.icon_hvr_img_box.home4 .overlay .icon{opacity:0;margin-bottom:0}
.icon_hvr_img_box.home4 .overlay .details h5{margin-bottom:0}
.icon_hvr_img_box.home4 .overlay .details h5,.icon_hvr_img_box.home4 .overlay .details p{color:#fff;font-size:15px}
.icon_hvr_img_box.home6{display:block;height:233px;margin-bottom:30px}
.icon_hvr_img_box.home6:before{background-color:rgba(5,4,28,.3)}
.icon_hvr_img_box.home6:hover{cursor:pointer;margin-top:-10px}
.icon_hvr_img_box.home6:hover:before{background-image:-moz-linear-gradient(30deg, rgb(31,189,165) 0%, rgb(44,215,189) 100%);background-image:-webkit-linear-gradient(30deg, rgb(31,189,165) 0%, rgb(44,215,189) 100%);background-image:-ms-linear-gradient(30deg, rgb(31,189,165) 0%, rgb(44,215,189) 100%);background-image:linear-gradient(30deg,rgb(31,189,165)0%,rgb(44,215,189)100%);opacity:0.8;}
.icon_hvr_img_box.home6:hover .overlay .icon{color:#fff;opacity:1}
.icon_hvr_img_box.home6 .overlay .icon{opacity:0;margin-bottom:0}
.icon_hvr_img_box.home6 .overlay .details h5{margin-bottom:0}
.icon_hvr_img_box.home6 .overlay .details h5,.icon_hvr_img_box.home6 .overlay .details p{color:#fff;font-size:15px}
.carrer-tips.home6{background-color:#dffffa}
.icon_box_home6{border-radius:4px;position:relative;padding:25px 60px 25px 30px;-webkit-transition:all .4s ease 0s;-moz-transition:all .4s ease 0s;-o-transition:all .4s ease 0s;transition:all .4s ease 0s}
.icon_box_home6:hover .details h4,.icon_box_home6:hover .details p,.icon_box_home6:hover .icon{color:#fff}
.icon_box_home6:hover{background-color:#28cfb6;cursor:pointer}
.icon_box_home6 .icon{font-size:50px;line-height:normal;margin-bottom:20px}
.icon_box_home6 .details p{line-height:28px;margin-bottom:0}
.icon_box_hiw{margin-top:20px;position:relative;text-align:center;cursor:pointer}
.icon_box_hiw .icon{background-color:#fafafa;border-radius:4px;display:inline-block;height:100px;position:relative;width:100px}
.icon_box_hiw .icon .list_tag{background-color:#5082f0;border-radius:20px;border:5px solid #fff;color:#fff;height:40px;line-height:30px;position:relative;right:-15px;top:-15px;width:40px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.icon_box_hiw.home3 .icon .list_tag{background-color:#1c327e}
.icon_box_hiw .icon span{color:#cacaca;font-size:64px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.icon_box_hiw:hover .icon span{color:#262626}
.icon_box_hiw:hover .details h4{color:#262626}
.icon_box_hiw:hover .icon .list_tag{background-color:#262626}
.icon_box_hiw .icon.middle:before{background-color:#fafafa;content:"";height:2px;position:absolute;right:130px;top:55px;width:230px}
.icon_box_hiw .icon.middle:after{background-color:#fafafa;content:"";height:2px;position:absolute;left:130px;top:55px;width:230px}
.icon_box_hiw .details{margin-top:40px}
.icon_box_hiw .details h4{color:#666;font-weight:600;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.icon_box_hiw .details p{margin-bottom:0;padding:0 15px}
.icon_box_hiw.home3 .icon{background-color:#fff;-webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);-moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);}
.icon_box_hiw.home3.contact_page .icon .list_tag{background-color:transparent;border:none}
.fj_post{background-color:#fff;border:1px solid #f6f6f6;border-left:4px solid transparent;border-radius:4px;padding:30px;margin-bottom:30px;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.09);-moz-box-shadow:0 1px 4px 0 rgba(0,0,0,.09);box-shadow:0 1px 4px 0 rgba(0,0,0,.09)}
.fj_post .thumb{border:1px solid #e6e6e6;border-radius:4px;float:left;margin-right:30px;text-align:center}
.fj_post .details{flex:1}
.fj_post .details h5{margin-bottom:3px;margin-top:8px!important}
.fj_post .details h4{margin-bottom:3px}
.fj_post .details p{margin-bottom:3px;color:#6d6d6d!important}
.fj_post .details p:hover{margin-bottom:3px;color:#6d6d6d!important}
.list-inline-item a{color:#6d6d6d}
.list-inline-item span{color:#6d6d6d}
.footer_menu .list-inline-item a{color:#979797}
.footer_menu .list-inline-item a:hover{color:#fff}
.footer_bottom_area.home3 .footer_menu .list-inline-item a{color:#969ca9}
.footer_bottom_area.home4 .footer_menu .list-inline-item a:hover{color:#979797}
.footer_bottom_area.home5 .footer_menu .list-inline-item a:hover{color:#979797}
.fj_post .details .job_chedule{display:inline-block}
.footer_bottom_area{bottom:0;width:100%;}
.footer_bottom_area{background-color:#1a1a1a}
.our-dashbord{margin-top:20px;position:relative}
.our-dashbord:before{background-color:#fafafa;bottom:0;content:"";left:0;position:absolute;height:100vh;min-height:100%;top:0;width:23%}
.user_profile{background-color:#fff;border-radius:4px;height:150px;margin-bottom:30px;padding:30px;-webkit-box-shadow:1px 2px 5px 0 rgba(0,0,0,.1);-moz-box-shadow:1px 2px 5px 0 rgba(0,0,0,.1);box-shadow:1px 2px 5px 0 rgba(0,0,0,.1);width:280px}
.user_profile .media .media-body{}
.user_profile .media .media-body h5,.user_profile .media .media-body p{margin-bottom:0}
.user_profile .media img{width:65px}
.dashbord_nav_list{margin-left:20px}
.dashbord_nav_list li{line-height:45px;position:relative;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s}
.dashbord_nav_list li a{color:#7f7f7f;font-size:16px}
.dashbord_nav_list li:hover a,.dashbord_nav_list li:hover a span{color:#221f1f}
.dashbord_nav_list li.active a{color:#221f1f}
.dashbord_nav_list li.active:before{background-color:#221f1f;bottom:0;content:"";height:25px;left:-20px;position:absolute;top:10px;width:2px}
.dashbord_nav_list li a span{font-size:23px;margin-right:15px}
.message_container{border-radius:4px;border:1px solid #ededed}
.img-whp{width:100%!important}
.text-thm{color:#5082f0!important}
.accordion .card .card-header .btn{box-shadow:none}
.form-control{font-size:15px}
.btn{border-radius:4px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.09);-moz-box-shadow:0 1px 4px 0 rgba(0,0,0,.09);box-shadow:0 1px 4px 0 rgba(0,0,0,.09)}
.btn:active,.btn:focus,.btn:hover{outline:0}
.btn-transparent{background-color:transparent;border-color:#00b7ff;color:#00b7ff;font-size:16px;border-radius:4px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.btn-transparent:active,.btn-transparent:focus,.btn-transparent:hover{background-color:#00b7ff;color:#fff}
.btn-transparent2{background-color:transparent;border-color:-webkit-linear-gradient(30deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);border-color:-o-linear-gradient(30deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);border-color:-ms-linear-gradient(30deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);border-color:-moz-linear-gradient(30deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);border-color:linear-gradient(60deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);color:#4568dc;border-radius:0;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.btn-transparent2:active,.btn-transparent2:focus,.btn-transparent2:hover{background:-webkit-linear-gradient(30deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);background:-o-linear-gradient(30deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);background:-ms-linear-gradient(30deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);background:-moz-linear-gradient(30deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);background:linear-gradient(60deg,#4568dc 0,#7b69c7 50%,#b06ab3 100%);color:#fff}
.btn-default{font-size:14px;padding:8px 15px}
.h70{height:70px}
.h75{height:75px}
.p0{padding:0!important}
.pt0{padding-top:0!important}
.pt10{padding-top:10px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.mt-50{margin-top:-50px}
.mt-100{margin-top:-100px}
.mt-150{margin-top:-150px}
.mt-200{margin-top:-200px}
.m0{margin:0}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.m35{margin:35px}
.m40{margin:40px}
.m45{margin:45px}
.m50{margin:50px}
.mt0{margin-top:0!important}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt60{margin-top:60px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt90{margin-top:90px}
.mt95{margin-top:95px}
.mt100{margin-top:100px}
.mt150{margin-top:150px}
.mt200{margin-top:200px}
.mt250{margin-top:250px!important}
.mt300{margin-top:3000px}
.mt-30{margin-top:-30px}
.mr0{margin-right:0}
.ulockd-mrgb35{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mb0{margin-bottom:0!important}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px}
.mb60{margin-bottom:60px}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mb80{margin-bottom:80px}
.mb85{margin-bottom:85px}
.mb90{margin-bottom:90px}
.mb95{margin-bottom:95px}
.mb100{margin-bottom:100px}
.ml0{margin-left:0}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml35{margin-left:35px}
.ml40{margin-left:40px}
.ml45{margin-left:45px}
.ml50{margin-left:50px}
.ml55{margin-left:55px}
.ml60{margin-left:60px}
.zi1{z-index:1}
.zi9{z-index:9}
.zi-1{z-index:-1}
.ulockd-mbmt0{margin-bottom:0;margin-top:0}
section{padding:60px 0;position:relative}
.ulockd-main-title{position:relative;margin-bottom:20px}
.ulockd-main-title h3{display:inline-block;font-family:Nunito,sans-serif;font-weight:600;margin-top:0}
.ulockd-main-title p{margin-bottom:0}
.preloader{background-color:#fff;background-image:url(../img/preloader.gif);background-position:center center;background-repeat:no-repeat;height:100%;left:0;position:fixed;top:0;width:100%;z-index:99999}
.scrollToHome:hover{background-color:transparent;color:#fff}
.scrollToHome{bottom:15px;display:none;font-size:30px;line-height:1.5em;padding:3px 10px;position:fixed;right:20px;color:#5082f0;text-align:center;z-index:99999;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.bgc-overlay-white3:before{background-color:rgba(255,255,255,.3);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white35:before{background-color:rgba(255,255,255,.35);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white4:before{background-color:rgba(255,255,255,.4);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white45:before{background-color:rgba(255,255,255,.45);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white5:before{background-color:rgba(255,255,255,.5);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white55:before{background-color:rgba(255,255,255,.55);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white6:before{background-color:rgba(255,255,255,.6);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white65:before{background-color:rgba(255,255,255,.65);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white7:before{background-color:rgba(255,255,255,.7);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white75:before{background-color:rgba(255,255,255,.75);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white8:before{background-color:rgba(255,255,255,.8);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white85:before{background-color:rgba(255,255,255,.85);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white9:before{background-color:rgba(255,255,255,.9);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-white95:before{background-color:rgba(255,255,255,.95);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black3:before{background-color:rgba(0,0,0,.3);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black35:before{background-color:rgba(0,0,0,.35);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black4:before{background-color:rgba(0,0,0,.4);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black45:before{background-color:rgba(0,0,0,.45);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black5:before{background-color:rgba(0,0,0,.5);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black55:before{background-color:rgba(0,0,0,.55);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black6:before{background-color:rgba(0,0,0,.6);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black65:before{background-color:rgba(0,0,0,.65);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black7:before{background-color:rgba(0,0,0,.7);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black75:before{background-color:rgba(0,0,0,.75);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black8:before{background-color:rgba(0,0,0,.8);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black85:before{background-color:rgba(0,0,0,.85);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black9:before{background-color:rgba(0,0,0,.9);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.bgc-overlay-black95:before{background-color:rgba(0,0,0,.95);bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.parallax{background-attachment:scroll;background-position:50% 0;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;z-index:1;position:relative}
.divider{background-attachment:scroll!important;background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;overflow-x:hidden;position:relative;overflow-y:hidden}
.divider:before{background-color:rgba(17,17,17,.75);content:"";height:100%;left:0;position:absolute;top:0;width:100%}
.form_control{border-radius:0;box-shadow:none;height:45px}
#maps .loading-container .spinner{background-color:#5082f0}
#maps .control-left-wrapper div:after,#maps .control-right-wrapper div:after{background-color:#5082f0;border:1px solid #5082f0}
.ads-maps .price{background-color:#5082f0}
.ads-maps .details{border-bottom:4px solid #5082f0}
.map-popup>a{background:#5082f0}
.map-popup>a:hover{background:#00463e}
canvas{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none}
.chart-container{width:100%}
.c_container{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center}
.tags-bar{background-color:#f0f0f0;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;float:left;padding:10px;position:relative;width:100%}
.modrn-joblist{float:left;width:100%;padding-left:30px;border-bottom:1px solid #edeff7}
.tags-bar>span{float:left;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;font-size:13px;padding:5px 20px 5px 25px;margin-right:15px;position:relative}
.tags-bar>span i{color:#383535;cursor:pointer;font-size:12px;font-style:normal;height:16px;left:10px;position:absolute;text-align:center;top:6px}
.tags-bar .action-tags{float:right}
.tags-bar .action-tags a{color:#939393;font-size:13px}
.tags-bar .action-tags a i{font-size:16px}
.find-cand-sec{position:relative}
.mockup-top{opacity:.2;position:absolute;right:-60%;top:-80px}
.mockup-top img{position:relative}
.job_list_v4{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;width:100%}
#listing-2{position:relative}
#listing-2 .map-container{float:right;height:100%;position:relative;width:45%;z-index:0}
.bdyhidden{overflow:hidden}
.body_content{float:left;height:100vh;margin-right:10px;overflow-y:scroll;overflow-x:hidden;padding-bottom:100px;padding-left:20px;padding-right:15px;width:54%}
.body_content::-webkit-scrollbar{margin-top:15px;margin-right:-10px;width:6px;z-index:3}
.body_content::-webkit-scrollbar *{background:0 0;margin-right:-10px}
.body_content::-webkit-scrollbar-track{display:none}
.body_content::-webkit-scrollbar-thumb{background-color:#dfdfdf!important;border-radius:6px;margin-right:-10px}
#listing-2 #maps .map{width:100%;min-height:100vh}
#listing-2 #maps .control-left-wrapper,#maps .control-right-wrapper{margin:146px 10px 0}
#listing-2 ul.place-listing-add li img{width:auto}
#listing-2 ul.place-listing-add{display:table;padding:15px 20px;width:100%}
#listing-2 ul.place-listing-add>li{display:table-cell}
#maps .loading-container .spinner{background-color:#5082f0}
#maps .control-left-wrapper div:after,#maps .control-right-wrapper div:after{background-color:#5082f0;border:1px solid #5082f0}
.ads-maps .price{background-color:#5082f0}
.ads-maps .details{border-bottom:4px solid #5082f0}
.map-popup>a{background:#5082f0}
.finddo-place.active,.finddo-place:hover{background:#5082f0}
.map-popup>a:hover{background:#00463e}
#main .filteropen{background-color:#5082f0;border-radius:4px;color:#fff;cursor:pointer;left:50px;padding:10px 20px;position:absolute;top:38px;z-index:999}
#open.flaticon-close:before,#open.flaticon-filter-1:before{margin-right:6px}
#main .filteropen.style2{left:auto;position:relative;right:auto;top:auto}
.job_list_three.sidenav{width:305px;margin-left:0;-webkit-transform:translateX(-305px);-ms-transform:translateX(-305px);-o-transform:translateX(-305px);transform:translateX(-305px);top:80px}
body{-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
body.translated{-webkit-transform:translateX(300px);-ms-transform:translateX(300px);-o-transform:translateX(300px);transform:translateX(300px)}
.content_details .closebtn{display:block;text-align:right;position:relative;height:50px}
.content_details .closebtn i{font-size:40px;display:inline-block;position:absolute;right:10px;top:-15px}
.content_details .closebtn span{font-size:16px;display:inline-block;position:absolute;right:40px;top:6px}
.content_details{background-color:#fff;border:1px solid #fff;height:100%;left:0;margin-left:-100%;overflow-y:scroll;padding:20px 15px;position:fixed;top:80px;-webkit-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;width:305px;z-index:9}
.content_details::-webkit-scrollbar{margin-top:15px;margin-right:-10px;width:6px;z-index:3}
.content_details::-webkit-scrollbar *{background:0 0;margin-right:-10px}
.content_details::-webkit-scrollbar-track{display:none}
.content_details::-webkit-scrollbar-thumb{background-color:#dfdfdf!important;border-radius:6px;margin-right:-10px}
.content_details.is-full-width{left:0;margin-left:0;position:fixed;-webkit-box-shadow:1px 1px 8px 1px rgba(0,0,0,.1);-moz-box-shadow:1px 1px 8px 1px rgba(0,0,0,.1);box-shadow:1px 1px 8px 1px rgba(0,0,0,.1)}
.logo-widget{margin-top:10px}
label{margin-bottom:0}
.password_change_form label{margin:7px 0}
.bootstrap-select .bs-ok-default:after{border-width:0 .1em .1em 0}
.dropdown-item:focus,.dropdown-item:hover{border-radius:0!important}
.custom-switch .custom-control-label::before{border-radius:30px}
.lpd45{padding-bottom:45px}
.dropdown-item.active,.dropdown-item:active{color:#5082f0!important;background-color:transparent!important}
.bootstrap-select .dropdown-menu{-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.09);-moz-box-shadow:0 1px 4px 0 rgba(0,0,0,.09);box-shadow:0 1px 4px 0 rgba(0,0,0,.09);border:1px solid #ddd}
button.btn.my-2.my-sm-0{box-shadow:none}
