<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="width: 100%;
padding-right: 30px;
padding-left: 30px;
margin-right: auto;
margin-left: auto;font-size: 20px;font-family: 'roboto', sans-serif;">
<table width="90%" cellspacing="0" cellpadding="0" style="font-family: 'roboto', sans-serif">
  <tr>
    <td><p>
      <h1>Política de Privacidad de la Plataforma Mardeltrabaja.com</h1>
	  <p>Mardeltrabaja.com (en adelante Mardeltrabaja.com) informa a los usuarios y a los profesionales del Sitio y la aplicación móvil
		acerca de su política de protección de datos de carácter personal (en adelante, "los Datos Personales") para que éstos
		determinen libre y voluntariamente si desean facilitar a Mardeltrabaja.com los Datos Personales que se les puedan requerir o
		que se puedan obtener de los Usuarios y los Profesionales con ocasión del registro o alta en la Plataforma de
		comunicación e intermediación  de Mardeltrabaja.com  </p>
      <p>Mardeltrabaja.com se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o
		jurisprudenciales así como a prácticas de la industria. En dichos supuestos, Mardeltrabaja.com anunciará en esta página las
		futuras modificaciones</p>
      <p>Los Datos Personales serán incorporados en la base de datos de la plataforma de Mardeltrabaja.com a fin de ser sistematizados y
		automatizados para que los Usuarios y Profesionales  puedan ponerse en contacto y acordar la contratación de los
		trabajos y servicios en los términos de la Ley de Protección de Datos Personales. </p>
      <p>Con este objeto, Mardeltrabaja.com le proporciona a los Usuarios y a los Profesionales los recursos técnicos adecuados para que,
		con carácter previo, puedan acceder a este aviso sobre la Política de Privacidad o a cualquier otra información relevante
		y puedan prestar su consentimiento a fin de que Mardeltrabaja.com proceda al tratamiento automatizado de sus Datos
		Personales. Las respuestas a las preguntas sobre Datos Personales son voluntarias, sin que la falta de contestación
		implique una merma en la calidad o cantidad de los servicios correspondientes, a menos que se indique lo contrario. </p>
      <p>Los Usuarios y Profesionales garantizan que los Datos Personales facilitados a Mardeltrabaja.com son veraces y se hacen
		responsables de comunicar a ésta cualquier modificación en los mismos. </p>
      <p>La recolección y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual,
		establecida si fuera el caso, con Mardeltrabaja.com por  la gestión, administración, prestación, ampliación y mejora del servicio
		de la plataforma de comunicación e intermediaciónentre los Usuarios y Profesionales.  </p>
      <p>En Mardeltrabaja.com estamos comprometidos a brindarle y a mejorar la plataforma  de comunicación y a tal fin  utilizaremos
		encuestas, solicitaremos  opiniones de los Usuarios y de los Profesionales. No obstante, en cada caso el Usuario  y el
		Profesional tendrán conocimiento con exactitud qué tipo de información será almacenada en nuestra base datos. </p>
      <p>Cuando un Usuario y el Profesional navegan a través de nuestro sitio puede recibir en su ordenador cookies enviadas
		por cuenta nuestra desde servidores de terceras empresas con las que hemos contratado la prestación de servicios de
		medición de audiencias. En ningún caso, las empresas, desde las cuales se envían, pueden conocer los datos de carácter
		personal de los Usuarios y los Profesionales. </p>
      <p>Mardeltrabaja.com no recopila, a sabiendas información sobre menores, ni realiza ventas a menores.</p>
      <p>En el Sitio ni  en la aplicación móvil encontrará publicidad de terceros, sin la debida autorización de los mismos. En
		nuestro sitio no utilizamos herramientas de las comúnmente conocidas adware o spyware. </p>
      <p>La principal razón por la que almacenamos información de identificación personal en nuestro sitio es que el Usuario y el
		Profesional tengan que dar la información de contacto sólo una vez.</p>
      <p>Siempre tratamos la información de identificación personal como información confidencial y la compartimos solo con
		aquellos empleados que necesiten la misma para brindar a usted un mejor servicio.</p>
      <p>Nunca compartimos información de identificación personal, recopilada en nuestro sitio web, con terceros.</p>
      <p>Haremos nuestro mayor esfuerzo posible para preservar su privacidad. Mardeltrabaja.com solo podrá revelar los datos
		personales de los Usuarios y Profesionales en caso de ser notificados de  una orden judicial o en cumplimiento de una
		inspección de las autoridades pertinentes. </p>
       <p>Valoramos su confianza en nosotros. Por eso es que verdaderamente deseamos preservar su privacidad y trabajar con
		usted para garantizar que este sitio y la información y servicios que le brindamos sean un recurso valioso para usted. </p>
     </td>
  </tr>
</table>
</body>
</html>
